.toast {
    position: fixed;
    bottom: 20px;
    left: 50vw;
    transform: translate(-50%, -50%);
    font: 14px/18px 'Roboto', sans-serif;
    background-color: rgb(255, 255, 255);
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    animation: fadeIn 0.3s ease-out;
}

.positiveToast {
    background-color: rgb(76, 175, 80);
}

.negativeToast {
    background-color: rgb(244, 67, 54);
}

.toast button {
    background: none;
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

.toast button:hover {
    opacity: 0.8;
}