.slideComponent {
    border: 1px solid rgb(169, 169, 169);
    margin: 5vh 0 0 5vw;
}

.placeholderSlide {
    width: 960px;
    height: 540px;
    border: 1px dashed rgb(169, 169, 169);
    border-radius: 20px;
    padding: 20px;
    margin: 5vh 0 0 5vw;
}

.placeholderSlideText {
    display: flex;
    justify-content: center;
    font: 40px/1.5 'Roboto', sans-serif;
    position: relative;
    top: 45%;
}