html {
    overflow: hidden;
}

.workspaceWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(0, 0, 0);
}

.workspaceSlideshow {
    background-color: rgb(0, 0, 0);
}

.workspace {
    background-color: rgb(249, 251, 253);
}

.slideComponent {
    outline: 1px solid rgb(169, 169, 169);
    margin: 5vh 0 0 5vw;
}

.slideComponentSlideshow {
    margin: auto 0;
}

.placeholderSlide {
    width: 960px;
    height: 540px;
    border: 1px dashed rgb(169, 169, 169);
    border-radius: 20px;
    padding: 20px;
    margin: 5vh 0 0 5vw;
}

.placeholderSlideText {
    display: flex;
    justify-content: center;
    font: 40px/1.5 'Roboto', sans-serif;
    position: relative;
    top: 45%;
}