.button {
    display: flex;
    position: relative;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    margin: 0 5px;
    padding: 3px;
    cursor: pointer;
}

.button:hover {
    background-color: rgba(204, 204, 204, 0.8);
}

.buttonText {
    font: 14px/18px 'Roboto', sans-serif;
    margin: auto 0;
}

.buttonIcon {
    margin: auto;
    width: 18px;
    height: 18px;
}

.inputBlock {
    position: absolute;
    visibility: hidden;
    width: 0;
}