.slideCollectionElement:focus {
    outline: none;
}

.slideCollectionElement {
    margin: 10px 0 10px 20px;
}

.slideInCollection {
    border-radius: 10px;
    outline: 1px solid rgb(169, 169, 169);
    overflow: hidden;
    pointer-events: none;
}

.slideCollectionElement:hover .slideInCollection {
    outline: 3px solid rgb(169, 169, 169);
    cursor: pointer;
}