.selectedObject {
    position: absolute;
    border: 2px solid rgb(0, 0, 0);
}

.object {
    border: 2px solid transparent;
    position: absolute;
    user-select: none;
}

.image {
    width: 100%;
    height: 100%;
    pointer-events: none;
    user-select: none;
}

.textField {
    background-color: transparent;
    border: none;
    width: 100%;
    overflow: hidden;
    resize: none;
    user-select: none;
}

.textField:focus {
    border: none;
    outline: none;
}