.popoverContainer {
    position: relative;
}

.popoverTrigger {
    cursor: pointer;
}

.popoverContent {
    position: absolute;
    background-color: white;
    left: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px 10px 5px 10px;
    z-index: 1000;
    border-radius: 5px;
}
