.slideInCollection {
    position: relative;
    outline: 1px solid rgb(169, 169, 169);
    margin: 10px 0 10px 20px;
    z-index: 1000;
    border-radius: 10px;
    user-select: none;
}

.slideInCollection:hover {
    outline: 3px solid rgb(169, 169, 169);
}

.selectedSlide {
    position: relative;
    outline: 3px solid rgb(11, 87, 208);
    margin: 10px 0 10px 20px;
    z-index: 1000;
    border-radius: 10px;
}

.slideWrapper {
    pointer-events: none;
}
