.logo {
    height: 40px;
    width: 40px;
    margin: 0 0 0 20px;
}

.presentationTitle {
    display: flex;
    height: 40px;
    padding: 10px;
    user-select: none;
}

.input {
    height: 20px;
    width: 200px;
    font: 16px/24px 'Roboto', sans-serif;
    padding: 10px;
    background-color: transparent;
    border: none;
    margin: 0 0 0 20px;
}

.slideshowButton {
    font: 16px/24px 'Roboto', sans-serif;
    margin: 0 30px 0 auto;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 20px;
    width: 100px;
    background-color: transparent;
}

.slideshowButton:hover {
    background-color: rgba(204, 204, 204, 0.8);
}

.buttonContent {
    margin: auto 10px;
}
