.logo {
    height: 40px;
    width: 40px;
    margin: 0 0 0 20px;
}

.presentationTitle {
    display: flex;
    height: 40px;
    padding: 10px;
    user-select: none;
}

.input {
    height: 20px;
    width: 200px;
    font: 16px/24px 'Roboto', sans-serif;
    padding: 10px;
    background-color: transparent;
    border: none;
    margin: 0 0 0 20px;
}

.slideshowButton {
    margin: 0 10px 0 auto;
}
