.toolBar {
    display: flex;
    flex-direction: row;
    background-color: rgb(240, 244, 249);
    height: 24px;
    border-radius: 25px;
    padding: 10px 20px;
    margin: 0 20px 10px 20px;
    user-select: none;
}

.buttonContent {
    margin: auto 0 auto 10px;
}

.addImageButton,
.importImageButton,
.changeBackgroundColorButton,
.changeImageBackgroundButton {
    margin: 0 0 5px 0;
}

.slideBackgroundButton {
    font: 14px/18px 'Roboto', sans-serif;
}

.divider {
    width: 1px;
    height: 14px;
    background-color: rgb(169, 169, 169);
    margin: 5px 10px;
}