.toolBar {
    display: flex;
    flex-direction: row;
    background-color: rgba(237, 242, 250, 1);
    height: 30px;
    border-radius: 25px;
    padding: 10px 40px;
    margin: 0 20px 10px 20px;
}

.undoButton,
.redoButton {
    width: 30px;
    height: 30px;
    margin: 0 5px;
    cursor: pointer;
}

.addSlideButton {
    display: flex;
    height: 30px;
    margin: 0 5px;
    cursor: pointer;
}

.addSlideButton span {
    margin: 0 0 0 10px;
}

img {
    width: 20px;
    height: 20px;
}